$main-color: #E72744;
$secondary-color: #fff;
$border-color: #000;
$background-color: #29303E;
$text-color: #444;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    user-select: none;
}

body {

    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: $background-color;
}



.content_text {
    h2 {
        color: black;
        font-size: 14px;
        font-weight: 600;
        text-align: start;
    }

    p {
        color: rgb(71, 71, 71);
        font-size: 12px;
        font-weight: 500;
        text-align: start;
    }

    .divider {
        border-color: #d4d4d4;
        margin: 20px 0;
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            color: rgb(71, 71, 71);
            font-size: 12px;
            font-weight: 500;
            text-align: start;
            margin-bottom: 5px;
        }
    }
}

.dropdown-content {
    h2 {
        color: black;
    }
}

.profile_button {
    button {
        border: 1px solid gray;
        background: transparent;
        color: #65451F;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 5px;

        h2 {
            margin-bottom: 0px;
            color: #65451F;
        }

    }
}

.mytra-login {
    width: 800px;
    // height: 480px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;

    form {
        background: $secondary-color;
        width: 50%;
        padding: 25px 50px;

        img {
            width: 80px;
        }

        .heading {
            font-size: 1.4em;
            margin-top: 15px;
        }

        p {
            font-size: 0.95em;
            color: $text-color;
            margin-bottom: 40px;
        }

        label {
            display: block;
            margin-top: 20px;
            color: $text-color;
        }

        input {
            border: none;
            outline: none;
            border-bottom: 1px solid $border-color;
            width: 100%;
            padding: 10px 0;
        }

        .forgot {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            color: $text-color;
            font-size: 0.85em;

            label {
                margin-top: 0;
                font-size: 1em;
            }

            input {
                width: auto;
            }

            a {
                color: $main-color;
                cursor: pointer;
            }
        }

        button {
            border: none;
            outline: none;
            margin-top: 40px;
            padding: 12px 0;
            border-radius: 5px;
            cursor: pointer;

            &.login {
                width: 60%;
                color: $secondary-color;
                background: $main-color;

                &:hover {
                    background: $secondary-color;
                    color: $main-color;
                    box-shadow: 0 0 10px #ccc;
                }
            }

            &.signup {
                width: 38.5%;
                color: $main-color;
                background: $secondary-color;
                box-shadow: 0 0 10px #ccc;

                &:hover {
                    background: $main-color;
                    color: $secondary-color;
                }
            }
        }
    }

    .poster {
        width: 50%;
        background: url('https://img.freepik.com/premium-photo/excited-crazy-amazed-girlish-lady-open-mouth-wow-reaction_274222-27283.jpg');
        background-size: cover;
        background-position: 33%;
    }

    .signup_poster {
        width: 50%;
        background: url('../src/assets/signupbanner.jpg');
        background-size: cover;
        background-position: 33%;
    }
}

@media (min-width: 0px) and (max-width: 800px) {
    .mytra-login {
        display: block;
        width: 350px;
        height: auto;

        form {
            width: 100%;
            padding: 40px 40px;

            .signup {
                width: 38%;
            }
        }

        .poster {
            display: none;
        }
    }
}

.exploremore {
    button {
        background-color: #ccc;
    }

    color: #65451F !important;
    border: 1px solid #d4d4d4;
    font-size: 15px;
    font-weight: 600;
    background-color: #d4d4d4 !important;

}

.exploremore :hover {
    background-color: #65451F;
    color: #d4d4d4;
}

.btn_gap {
    display: flex;
    gap: 30px;
}

.main-bg {
    background: #e6ccd0e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .center-content {
        background: #fff;
        padding: 20px;
        max-width: 760px;
        width: 90%;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        .forgot-section {
            text-align: left;
            margin-top: 20px;

            h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
            }

            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }

            button {
                background: $main-color;
                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;
                width: 100%;
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
                color: $main-color;
            }

            // Media queries for responsiveness
            @media (max-width: 768px) {
                max-width: 100%;
            }

            @media (max-width: 480px) {
                h2 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }

                input {
                    font-size: 12px;
                }

                button {
                    font-size: 14px;
                }
            }
        }
    }
}

.password-input {
    display: flex;
    align-items: center;
  
    input {
      flex: 1;
    }
  
    .password-toggle {
      cursor: pointer;
      color: #777;
  
      &:hover {
        color: #333;
      }
    }
  }
  